<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p2p_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P2P_App">

        <service
            android:name=".chat.WebSocketService"
            android:enabled="true"/>

        <activity
            android:name=".chat.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditprofileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MyMaterialsActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MyProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MaterialActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.UserProfilesActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ForgotpasswordActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".Activities.UploadpdfActivity" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".Activities.UploadimgActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".Activities.UploadActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".Activities.HomeActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>